<div>
    <mat-toolbar>  
        <mat-toolbar-row>
          <span>planetAirYum</span>
        </mat-toolbar-row>


    </mat-toolbar>


    <div>
        <mat-form-field class="example-form-field">
            <input #searchInput matInput type="text" placeholder="Search..." (keyup)="searchTerm.next($event.target.value)" >
          </mat-form-field>
    </div>

  <mat-list #planets>
    <mat-list-item *ngFor="let planet of pagedItems">
      {{ planet.name }}
    </mat-list-item>
  </mat-list>

  <mat-paginator
    [length]="length"
    [pageSize]="pageSize"
    [pageSizeOptions]="pageSizeOptions"
    (page)="onPaginateChange($event)">
  >
  </mat-paginator>

  <button (click)="increment()">Increment</button>
 
<div>Current Count: {{ count$ | async }}</div>

<button (click)="decrement()">Decrement</button>

<button (click)="reset()">Reset Counter</button>
</div>
